@font-face {
  font-family:'Abel';
  src:url(../fonts/fonts/Abel-Regular.ttf);
}
@font-face {
  font-family:'Poppins';
  src:url(../fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family:'FjallaOne';
  src:url(../fonts/FjallaOne-Regular.ttf);
}
@font-face {
  font-family:'WorkSans';
  src:url(../fonts/WorkSans-ExtraLight.ttf);
}
@font-face {
  font-family:'Comfortaa';
  src:url(../fonts/Comfortaa-Bold.ttf);
}
*{
  padding: 0;
  margin: 0;}
  html,body{
    height: calc(100% - 53px);
  }
.active{
  background-color: #226666;
}
body{
  background-color: #455656;
  min-width: 500px;

}
nav{width: 100%;
    height: 50px;
    background-color: #365F5F;
    font-family: 'Arial';
    position: fixed;
    left: 0;
    top: 0;
}
nav ul{
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  width: 166px;

}
nav ul li #info_adicionais{
  padding-bottom: 9px;
  padding-top: 5px
}
nav ul li #exp_prof{
  padding-bottom: 9px;
  padding-top: 5px
}
nav a{
  padding: 15px;
  display: block;
  text-decoration: none;/*remove o sublinhado dos links*/
  text-align: center;
  background-color: #365F5F;
  color: #ffffff;

}
nav ul ul{
  position: absolute;
  visibility: hidden; /*esconde menus*/
}
nav ul li:hover ul{
  visibility: visible;
}
nav a:hover{
  background-color: #007575; /*Cor exibida durante o hover*/


}
nav ul ul li{
  float: none;
  border: 1px solid #ccc;
}
nav ul ul li a{
  background-color: #078;

}
#label_menu{



  background-color: #000; /*valor da cor do label btn_exibir*/
  color: #ffffff; /*valor da cor da font*/
  font-family: Arial;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: none;

}
#btn_exibir{
  display: none;
}
@media(max-width: 1180px){

  #btn_exibir:checked~ nav{
    margin-left: 0px;
    margin-top: 0px;
  }
  nav{
    margin-left: -1500px;
    margin-top: -50px;
    transition: all 0.4s;
    top: 50px;
    position: fixed;
    z-index: 1;
  }


  #label_menu{
    display: block;
    position: fixed;
    background: #2b2b2b;
    border: 0px solid;
    box-shadow: 0px 0px 10px #222;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #testee{
    height: 0px;
    width: auto;
    display: block;
    background: #2b2b2b;
  }
  nav ul li{
    width: 100%;
    float: none;
  }
  nav ul ul{
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .8s;
  }
  nav ul li:hover ul{
    height: auto;
    max-height: 200px;
  }
  nav ul li #info_adicionais{
    padding:15px;
  }
  nav ul li #exp_prof{
    padding:15px;
  }
}
.infos{
  margin-left: 15%;
  margin-right: 15%;
  background-color: #eeeeff;/*DDDC97;*/
  padding-left: 20px;
  padding-top: 10px;
  position: relative;


}
.infos li{
  color: #281b2f;
  margin-top: 10pt;
  font-weight: 800;
  margin-left: 40px;
  list-style-image: url(../imagens/list.png);
}
.infos li a:link,.infos li a:visited{
  text-decoration: none;
  color: #281b2f;
}
.infos label{
  font-weight: bold;
  color: #0E5656;
}
article.infos  h3{
  font-family: 'Arial';
  color: #004646;

}
article,#pessoal{
  border-radius: 12px;
  margin-top: 4px;
}
#rodape{
  background-color: #064347;
  text-align: center;
  font-family: 'Comfortaa';
  line-height: 80px;
  color: #aaa;
  width: 100%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;

}
