div#nome{
  width: 100%;
  text-align: center;
  font-family: 'WorkSans';
  float: left;
  height: 120px;
}

#nome h4{
  color: #777;
}
#img_perfil{
  margin-top: 10px;
  height: 80px;
  width: 80px ;
  border-radius: 100%;
  background-color: #fff;
}
hgroup{
  padding-top: 5px;
  height: 70px;
}
article#pessoal{
  margin:0 auto;
  background-color: #eeeed5; /*Cor do plano de fundo do Header*/
  width: 70%;
  height: 150px;
  margin-top: 50px;
}
.infos{
  padding-bottom: 19%;

}
